In [1]:
import numpy as np  
import pandas as pd 
import pickle
from prettytable import PrettyTable
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

In [2]:
# Leer los datasets
path = './combined_data.csv'  # Importar de los csv
dataset = pd.read_csv(path, header = None, skiprows=1) # Concatenar datos de csv

In [3]:
dataset

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,45,46
0,175.45.176.0,26088,149.171.126.14,80,tcp,CON,10.147043,2236,457700,62,...,0,0,0,1,1,1,1,1,1,1
1,175.45.176.2,44712,149.171.126.11,179,tcp,FIN,0.195649,172,258,254,...,0,0,0,1,1,1,1,1,1,1
2,59.166.0.3,1066,149.171.126.6,143,tcp,FIN,0.513527,4190,10244,31,...,0,0,0,1,1,1,1,1,1,1
3,149.171.126.11,4433,175.45.176.0,20108,udp,CON,4.631897,2652,2144,60,...,0,0,0,1,1,1,1,1,1,1
4,175.45.176.0,36014,149.171.126.11,25,tcp,CON,5.477102,300727,2640,62,...,0,0,0,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39809,59.166.0.4,15966,149.171.126.3,53,udp,CON,0.001002,146,178,31,...,0,0,0,1,1,1,1,1,1,1
39810,59.166.0.4,63665,149.171.126.1,80,tcp,CON,0.024294,994,8896,31,...,1,0,0,1,1,1,1,1,1,1
39811,59.166.0.8,18586,149.171.126.7,5190,tcp,FIN,0.004097,1470,1728,31,...,0,0,0,1,1,1,1,1,1,1
39812,59.166.0.9,61840,149.171.126.6,53,udp,CON,0.001048,146,178,31,...,0,0,0,1,1,1,1,1,1,1
39813,59.166.0.9,56250,149.171.126.2,80,tcp,CON,0.039019,890,8896,31,...,1,0,0,0,0,0,0,0,0,0

In [4]:
# Importar nombres columnas
columnas_dataset = pd.read_csv('./machinelearningbinario/NUSW-NB15_features.csv', encoding='ISO-8859-1')
columnas_dataset

,No.,Name,Type,Description
0,1,srcip,nominal,Source IP address
1,2,sport,integer,Source port number
2,3,dstip,nominal,Destination IP address
3,4,dsport,integer,Destination port number
4,5,proto,nominal,Transaction protocol
5,6,state,nominal,Indicates to the state and its dependent proto...
6,7,dur,Float,Record total duration
7,8,sbytes,Integer,Source to destination transaction bytes
8,9,dbytes,Integer,Destination to source transaction bytes
9,10,sttl,Integer,Source to destination time to live value
10,11,dttl,Integer,Destination to source time to live value
11,12,sloss,Integer,Source packets retransmitted or dropped
12,13,dloss,Integer,Destination packets retransmitted or dropped
13,14,service,nominal,"http, ftp, smtp, ssh, dns, ftp-data ,irc and ..."
14,15,Sload,Float,Source bits per second
15,16,Dload,Float,Destination bits per second
16,17,Spkts,integer,Source to destination packet count
17,18,Dpkts,integer,Destination to source packet count
18,19,swin,integer,Source TCP window advertisement value
19,20,dwin,integer,Destination TCP window advertisement value
20,21,stcpb,integer,Source TCP base sequence number
21,22,dtcpb,integer,Destination TCP base sequence number
22,23,smeansz,integer,Mean of the ?ow packet size transmitted by the...
23,24,dmeansz,integer,Mean of the ?ow packet size transmitted by the...
24,25,trans_depth,integer,Represents the pipelined depth into the connec...
25,26,res_bdy_len,integer,Actual uncompressed content size of the data t...
26,27,Sjit,Float,Source jitter (mSec)
27,28,Djit,Float,Destination jitter (mSec)
28,29,Stime,Timestamp,record start time
29,30,Ltime,Timestamp,record last time
30,31,Sintpkt,Float,Source interpacket arrival time (mSec)
31,32,Dintpkt,Float,Destination interpacket arrival time (mSec)
32,33,tcprtt,Float,"TCP connection setup round-trip time, the sum ..."
33,34,synack,Float,"TCP connection setup time, the time between th..."
34,35,ackdat,Float,"TCP connection setup time, the time between th..."
35,36,is_sm_ips_ports,Binary,If source (1) and destination (3)IP addresses ...
36,37,ct_state_ttl,Integer,No. for each state (6) according to specific r...
37,38,ct_flw_http_mthd,Integer,No. of flows that has methods such as Get and ...
38,39,is_ftp_login,Binary,If the ftp session is accessed by user and pas...
39,40,ct_ftp_cmd,integer,No of flows that has a command in ftp session.
40,41,ct_srv_src,integer,No. of connections that contain the same servi...
41,42,ct_srv_dst,integer,No. of connections that contain the same servi...
42,43,ct_dst_ltm,integer,No. of connections of the same destination add...
43,44,ct_src_ ltm,integer,No. of connections of the same source address ...
44,45,ct_src_dport_ltm,integer,No of connections of the same source address (...
45,46,ct_dst_sport_ltm,integer,No of connections of the same destination addr...
46,47,ct_dst_src_ltm,integer,No of connections of the same source (1) and t...
47,48,attack_cat,nominal,The name of each attack category. In this data...
48,49,Label,binary,0 for normal and 1 for attack records

In [5]:
# Todos los nombres en letra pequeña y eliminando espacios
columnas_dataset = columnas_dataset.iloc[:47, :]
columnas_dataset['Name'] = columnas_dataset['Name'].apply(lambda x: x.strip().replace(' ', '').lower())
columnas_dataset

,No.,Name,Type,Description
0,1,srcip,nominal,Source IP address
1,2,sport,integer,Source port number
2,3,dstip,nominal,Destination IP address
3,4,dsport,integer,Destination port number
4,5,proto,nominal,Transaction protocol
5,6,state,nominal,Indicates to the state and its dependent proto...
6,7,dur,Float,Record total duration
7,8,sbytes,Integer,Source to destination transaction bytes
8,9,dbytes,Integer,Destination to source transaction bytes
9,10,sttl,Integer,Source to destination time to live value
10,11,dttl,Integer,Destination to source time to live value
11,12,sloss,Integer,Source packets retransmitted or dropped
12,13,dloss,Integer,Destination packets retransmitted or dropped
13,14,service,nominal,"http, ftp, smtp, ssh, dns, ftp-data ,irc and ..."
14,15,sload,Float,Source bits per second
15,16,dload,Float,Destination bits per second
16,17,spkts,integer,Source to destination packet count
17,18,dpkts,integer,Destination to source packet count
18,19,swin,integer,Source TCP window advertisement value
19,20,dwin,integer,Destination TCP window advertisement value
20,21,stcpb,integer,Source TCP base sequence number
21,22,dtcpb,integer,Destination TCP base sequence number
22,23,smeansz,integer,Mean of the ?ow packet size transmitted by the...
23,24,dmeansz,integer,Mean of the ?ow packet size transmitted by the...
24,25,trans_depth,integer,Represents the pipelined depth into the connec...
25,26,res_bdy_len,integer,Actual uncompressed content size of the data t...
26,27,sjit,Float,Source jitter (mSec)
27,28,djit,Float,Destination jitter (mSec)
28,29,stime,Timestamp,record start time
29,30,ltime,Timestamp,record last time
30,31,sintpkt,Float,Source interpacket arrival time (mSec)
31,32,dintpkt,Float,Destination interpacket arrival time (mSec)
32,33,tcprtt,Float,"TCP connection setup round-trip time, the sum ..."
33,34,synack,Float,"TCP connection setup time, the time between th..."
34,35,ackdat,Float,"TCP connection setup time, the time between th..."
35,36,is_sm_ips_ports,Binary,If source (1) and destination (3)IP addresses ...
36,37,ct_state_ttl,Integer,No. for each state (6) according to specific r...
37,38,ct_flw_http_mthd,Integer,No. of flows that has methods such as Get and ...
38,39,is_ftp_login,Binary,If the ftp session is accessed by user and pas...
39,40,ct_ftp_cmd,integer,No of flows that has a command in ftp session.
40,41,ct_srv_src,integer,No. of connections that contain the same servi...
41,42,ct_srv_dst,integer,No. of connections that contain the same servi...
42,43,ct_dst_ltm,integer,No. of connections of the same destination add...
43,44,ct_src_ltm,integer,No. of connections of the same source address ...
44,45,ct_src_dport_ltm,integer,No of connections of the same source address (...
45,46,ct_dst_sport_ltm,integer,No of connections of the same destination addr...
46,47,ct_dst_src_ltm,integer,No of connections of the same source (1) and t...

In [6]:
# Renombrar las columnas del dataset
dataset.columns = columnas_dataset['Name']

In [7]:
dataset.shape

(39814, 47)

In [8]:
dataset.head()

Name,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_flw_http_mthd,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm
0,175.45.176.0,26088,149.171.126.14,80,tcp,CON,10.147043,2236,457700,62,...,0,0,0,1,1,1,1,1,1,1
1,175.45.176.2,44712,149.171.126.11,179,tcp,FIN,0.195649,172,258,254,...,0,0,0,1,1,1,1,1,1,1
2,59.166.0.3,1066,149.171.126.6,143,tcp,FIN,0.513527,4190,10244,31,...,0,0,0,1,1,1,1,1,1,1
3,149.171.126.11,4433,175.45.176.0,20108,udp,CON,4.631897,2652,2144,60,...,0,0,0,1,1,1,1,1,1,1
4,175.45.176.0,36014,149.171.126.11,25,tcp,CON,5.477102,300727,2640,62,...,0,0,0,1,1,1,1,1,1,1

In [9]:
dataset.isnull().sum()

Name
srcip                  0
sport                  0
dstip                  0
dsport                 0
proto                  0
state                  0
dur                    0
sbytes                 0
dbytes                 0
sttl                   0
dttl                   0
sloss                  0
dloss                  0
service                0
sload                  0
dload                  0
spkts                  0
dpkts                  0
swin                   0
dwin                   0
stcpb                  0
dtcpb                  0
smeansz                0
dmeansz                0
trans_depth            0
res_bdy_len            0
sjit                1269
djit                 290
stime                  0
ltime                  0
sintpkt                0
dintpkt                0
tcprtt                 0
synack                 0
ackdat                 0
is_sm_ips_ports        0
ct_state_ttl           0
ct_flw_http_mthd       0
is_ftp_login           0
ct_ftp_cmd             0
ct_srv_src             0
ct_srv_dst             0
ct_dst_ltm             0
ct_src_ltm             0
ct_src_dport_ltm       0
ct_dst_sport_ltm       0
ct_dst_src_ltm         0
dtype: int64

In [10]:
dataset['sjit'] = dataset.sjit.fillna(value=0)

In [11]:
dataset['djit'] = dataset.djit.fillna(value=0)

In [12]:
dataset.isnull().sum()

Name
srcip               0
sport               0
dstip               0
dsport              0
proto               0
state               0
dur                 0
sbytes              0
dbytes              0
sttl                0
dttl                0
sloss               0
dloss               0
service             0
sload               0
dload               0
spkts               0
dpkts               0
swin                0
dwin                0
stcpb               0
dtcpb               0
smeansz             0
dmeansz             0
trans_depth         0
res_bdy_len         0
sjit                0
djit                0
stime               0
ltime               0
sintpkt             0
dintpkt             0
tcprtt              0
synack              0
ackdat              0
is_sm_ips_ports     0
ct_state_ttl        0
ct_flw_http_mthd    0
is_ftp_login        0
ct_ftp_cmd          0
ct_srv_src          0
ct_srv_dst          0
ct_dst_ltm          0
ct_src_ltm          0
ct_src_dport_ltm    0
ct_dst_sport_ltm    0
ct_dst_src_ltm      0
dtype: int64

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39814 entries, 0 to 39813
Data columns (total 47 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   srcip             39814 non-null  object
 1   sport             39814 non-null  object
 2   dstip             39814 non-null  object
 3   dsport            39814 non-null  object
 4   proto             39814 non-null  object
 5   state             39814 non-null  object
 6   dur               39814 non-null  object
 7   sbytes            39814 non-null  int64
 8   dbytes            39814 non-null  int64
 9   sttl              39814 non-null  int64
 10  dttl              39814 non-null  int64
 11  sloss             39814 non-null  int64
 12  dloss             39814 non-null  int64
 13  service           39814 non-null  object
 14  sload             39814 non-null  float64
 15  dload             39814 non-null  float64
 16  spkts             39814 non-null  int64
 17  dpkts             39814 non-null  int64
 18  swin              39814 non-null  int64
 19  dwin              39814 non-null  int64
 20  stcpb             39814 non-null  int64
 21  dtcpb             39814 non-null  int64
 22  smeansz           39814 non-null  float64
 23  dmeansz           39814 non-null  float64
 24  trans_depth       39814 non-null  int64
 25  res_bdy_len       39814 non-null  int64
 26  sjit              39814 non-null  float64
 27  djit              39814 non-null  float64
 28  stime             39814 non-null  int64
 29  ltime             39814 non-null  int64
 30  sintpkt           39814 non-null  float64
 31  dintpkt           39814 non-null  float64
 32  tcprtt            39814 non-null  float64
 33  synack            39814 non-null  float64
 34  ackdat            39814 non-null  float64
 35  is_sm_ips_ports   39814 non-null  int64
 36  ct_state_ttl      39814 non-null  int64
 37  ct_flw_http_mthd  39814 non-null  int64
 38  is_ftp_login      39814 non-null  int64
 39  ct_ftp_cmd        39814 non-null  int64
 40  ct_srv_src        39814 non-null  int64
 41  ct_srv_dst        39814 non-null  int64
 42  ct_dst_ltm        39814 non-null  int64
 43  ct_src_ltm        39814 non-null  int64
 44  ct_src_dport_ltm  39814 non-null  int64
 45  ct_dst_sport_ltm  39814 non-null  int64
 46  ct_dst_src_ltm    39814 non-null  int64
dtypes: float64(11), int64(28), object(8)
memory usage: 14.3+ MB

In [14]:
dataset['service'].replace('smb', '-', inplace=True)
dataset['service'].replace('ntlm', '-', inplace=True)
dataset['service'].replace('gssapi,ntlm,smb', '-', inplace=True)
dataset['service'].replace('gssapi,smb', '-', inplace=True)
dataset['service'].replace('syslog', '-', inplace=True)
dataset['service'].replace('dce_rpc', '-', inplace=True)
dataset['service'].replace('gssapi,ntlm,smb,dce_rpc', '-', inplace=True)
dataset['service'].replace('modbus', '-', inplace=True)
dataset['service'].replace('ntlm,smb,dce_rpc', '-', inplace=True)
dataset['service'].replace('imap', '-', inplace=True)
dataset['service'].replace('mysql', '-', inplace=True)
dataset['service'].replace('gssapi', '-', inplace=True)
dataset['service'].replace('smb,gssapi', '-', inplace=True)
dataset['service'].replace('smb,gssapi,ntlm', '-', inplace=True)
dataset['service'].replace('rfb', '-', inplace=True)
dataset['service'].replace('smb,dce_rpc,gssapi,ntlm', '-', inplace=True)

In [15]:
dataset['smeansz'] = dataset['smeansz'].astype(int)
dataset['dmeansz'] = dataset['dmeansz'].astype(int)
dataset['ct_flw_http_mthd'] = dataset['ct_flw_http_mthd'].astype(float)
dataset['ct_ftp_cmd'] = dataset['ct_ftp_cmd'].astype(str)
dataset['dur'] = dataset['dur'].replace('-', 0)
dataset['dur'] = np.array(dataset['dur']).astype(np.float64)
dataset['state'] = dataset['state'].replace('0', 'FIN')

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39814 entries, 0 to 39813
Data columns (total 47 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   srcip             39814 non-null  object
 1   sport             39814 non-null  object
 2   dstip             39814 non-null  object
 3   dsport            39814 non-null  object
 4   proto             39814 non-null  object
 5   state             39814 non-null  object
 6   dur               39814 non-null  float64
 7   sbytes            39814 non-null  int64
 8   dbytes            39814 non-null  int64
 9   sttl              39814 non-null  int64
 10  dttl              39814 non-null  int64
 11  sloss             39814 non-null  int64
 12  dloss             39814 non-null  int64
 13  service           39814 non-null  object
 14  sload             39814 non-null  float64
 15  dload             39814 non-null  float64
 16  spkts             39814 non-null  int64
 17  dpkts             39814 non-null  int64
 18  swin              39814 non-null  int64
 19  dwin              39814 non-null  int64
 20  stcpb             39814 non-null  int64
 21  dtcpb             39814 non-null  int64
 22  smeansz           39814 non-null  int64
 23  dmeansz           39814 non-null  int64
 24  trans_depth       39814 non-null  int64
 25  res_bdy_len       39814 non-null  int64
 26  sjit              39814 non-null  float64
 27  djit              39814 non-null  float64
 28  stime             39814 non-null  int64
 29  ltime             39814 non-null  int64
 30  sintpkt           39814 non-null  float64
 31  dintpkt           39814 non-null  float64
 32  tcprtt            39814 non-null  float64
 33  synack            39814 non-null  float64
 34  ackdat            39814 non-null  float64
 35  is_sm_ips_ports   39814 non-null  int64
 36  ct_state_ttl      39814 non-null  int64
 37  ct_flw_http_mthd  39814 non-null  float64
 38  is_ftp_login      39814 non-null  int64
 39  ct_ftp_cmd        39814 non-null  object
 40  ct_srv_src        39814 non-null  int64
 41  ct_srv_dst        39814 non-null  int64
 42  ct_dst_ltm        39814 non-null  int64
 43  ct_src_ltm        39814 non-null  int64
 44  ct_src_dport_ltm  39814 non-null  int64
 45  ct_dst_sport_ltm  39814 non-null  int64
 46  ct_dst_src_ltm    39814 non-null  int64
dtypes: float64(11), int64(28), object(8)
memory usage: 14.3+ MB

In [17]:
# Path to load files
file_path = "./machinelearningbinario/final-ipynb"

In [18]:
# Cargar datos de test
x_test = dataset

# Diccionarios
saved_dict = pickle.load(open(file_path+'/saved_dict.pkl', 'rb'))
mode_dict = pickle.load(open(file_path+'/mode_dict.pkl', 'rb'))

# Standard scaler
scaler = pickle.load(open(file_path+'/scaler.pkl', 'rb'))

# Encoders one-hot
ohe_proto = pickle.load(open(file_path+'/ohe_proto.pkl', 'rb'))
ohe_service = pickle.load(open(file_path+'/ohe_service.pkl', 'rb'))
ohe_state = pickle.load(open(file_path+'/ohe_state.pkl', 'rb'))

# El mejor modelo, es el Randomforest Classifier 
best_model = pickle.load(open(file_path+'/rf_best_clf.pkl', 'rb'))

In [19]:
saved_dict['num_col']

['sttl',
 'tcprtt',
 'smeansz_log1p',
 'res_bdy_len',
 'is_sm_ips_ports',
 'ct_state_ttl',
 'ct_ftp_cmd',
 'dtcpb_log1p',
 'dttl',
 'trans_depth',
 'synack',
 'sintpkt',
 'stime',
 'ct_srv_src',
 'stcpb_log1p',
 'ct_dst_ltm',
 'dload_log1p',
 'sload_log1p',
 'sjit_log1p',
 'dintpkt',
 'is_ftp_login',
 'dur_log1p',
 'dmeansz_log1p',
 'ackdat',
 'djit_log1p',
 'ct_dst_sport_ltm',
 'swin',
 'ct_flw_http_mthd',
 'dbytes_log1p',
 'spkts_log1p',
 'sbytes_log1p',
 'ct_src_ltm']

In [20]:
#Limpieza de datos

def clean_data(data):

    #Elimina los valores nulos y erróneos 
    
    numerical_col = data.select_dtypes(include=np.number).columns 
    categorical_col = data.select_dtypes(exclude=np.number).columns
    
    # Cleaning the data
    for col in data.columns:
        val = mode_dict[col]  # Sustituye los valores nulos por el valor modal
        data[col] = data[col].fillna(value=val)
        data[col] = data[col].replace(' ', value=val)
        data[col] = data[col].apply(lambda x:"None" if x=="-" else x)

        # Si son binarias y el valor es >1 se sustituye por el valor modal
        if col in saved_dict['binary_col']:
            data[col] = np.where(data[col]>1, val, data[col])

    # Convertir columnas de tipo erróneo
    bad_dtypes = list(set(categorical_col) - set(saved_dict['cat_col']))
    for bad_col in bad_dtypes:
        data[col] = data[col].astype(float)
    
    return data

#Aplicar log1p

def apply_log1p(data):
    
    #Ejecuta el log1p, crea una nueva columna y elimina la original
    
    for col in saved_dict['log1p_col']:
        new_col = col + '_log1p'
        data[new_col] = data[col].apply(np.log1p)
        data.drop(col, axis=1, inplace=True)
    return data

#Estandarizar los valores

def standardize(data):
    
    #Estandariza las columnas numéricas
    
    data[saved_dict['num_col']] = scaler.transform(data[saved_dict['num_col']])
    return data


#Encoders one-hot para las columnas categóricas

def ohencoding(data):
    '''
    Onehot encoding the categoricla columns.
    Add the ohe columns with the data and removes categorical columns.
    Using Onehotencoder objects trained on train data.
    '''
    X = ohe_service.transform(data['service'].values.reshape(-1, 1))
    Xm = ohe_proto.transform(data['proto'].values.reshape(-1, 1))
    Xmm = ohe_state.transform(data['state'].values.reshape(-1, 1))
    
    #Incluir las columnas con el encoder y eliminar las originales
    
    data = pd.concat([data,
                      pd.DataFrame(Xm.toarray(), columns=['proto_'+i for i in ohe_proto.categories_[0]]),
                      pd.DataFrame(X.toarray(), columns=['service_'+i for i in ohe_service.categories_[0]]),
                      pd.DataFrame(Xmm.toarray(), columns=['state_'+i for i in ohe_state.categories_[0]])],
                      axis=1)
    
    data.drop(['proto', 'service', 'state'], axis=1, inplace=True)
    return data

In [21]:
saved_dict['columns'] = saved_dict['columns'][:47]

In [22]:
saved_dict['to_drop'] = saved_dict['to_drop'][:4]

In [23]:
saved_dict['corr_col']

['sloss',
 'dloss',
 'dpkts',
 'dwin',
 'ltime',
 'ct_srv_dst',
 'ct_src_dport_ltm',
 'ct_dst_src_ltm']

In [24]:
#Funcion para realizar el preprocesamiento y las predicciones a partir de los datos

def final_fun_1(X):
   
    if isinstance(X, pd.core.series.Series):
        
        # Para una entrada puntual
        data = pd.DataFrame(X.values.reshape(1, -1)).copy()
    else:
        data = X.copy()
 

    data.reset_index(drop=True, inplace=True)
    data.columns = saved_dict['columns']


    dropable_col = saved_dict['to_drop'] + saved_dict['corr_col']
    data.drop(columns=dropable_col, inplace=True)

    data = clean_data(data)
    data = apply_log1p(data)
    data = standardize(data)
    data = ohencoding(data)

    
    # Realizar predicción con el modelo
    
    predictions = best_model.predict(data)
    
    return predictions

In [25]:
y_pred = final_fun_1(x_test.iloc[0:40])

In [26]:
print(y_pred)

[1 1 0 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0
 0 0 0]

In [27]:
y_pred = final_fun_1(x_test)

In [42]:
path = './datasetmulticlase.csv'  # Importar de los csv
dataset = pd.read_csv(path, header = None, skiprows=1)
columnas_dataset = pd.read_csv('./machinelearningbinario/NUSW-NB15_features.csv', encoding='ISO-8859-1')
columnas_dataset = columnas_dataset.iloc[:48, :]
columnas_dataset['Name'] = columnas_dataset['Name'].apply(lambda x: x.strip().replace(' ', '').lower())
dataset.columns = columnas_dataset['Name']

In [43]:
dataset.head

<bound method NDFrame.head of Name            srcip  sport           dstip dsport proto state        dur  \
0        175.45.176.0  26088  149.171.126.14     80   tcp   CON  10.147043
1        175.45.176.2  44712  149.171.126.11    179   tcp   FIN   0.195649
2          59.166.0.3   1066   149.171.126.6    143   tcp   FIN   0.513527
3      149.171.126.11   4433    175.45.176.0  20108   udp   CON   4.631897
4        175.45.176.0  36014  149.171.126.11     25   tcp   CON   5.477102
...               ...    ...             ...    ...   ...   ...        ...
39809      59.166.0.4  15966   149.171.126.3     53   udp   CON   0.001002
39810      59.166.0.4  63665   149.171.126.1     80   tcp   CON   0.024294
39811      59.166.0.8  18586   149.171.126.7   5190   tcp   FIN   0.004097
39812      59.166.0.9  61840   149.171.126.6     53   udp   CON   0.001048
39813      59.166.0.9  56250   149.171.126.2     80   tcp   CON   0.039019

Name   sbytes  dbytes  sttl  ...  is_ftp_login  ct_ftp_cmd  ct_srv_src  \
0        2236  457700    62  ...             0           0           1
1         172     258   254  ...             0           0           1
2        4190   10244    31  ...             0           0           1
3        2652    2144    60  ...             0           0           1
4      300727    2640    62  ...             0           0           1
...       ...     ...   ...  ...           ...         ...         ...
39809     146     178    31  ...             0           0           1
39810     994    8896    31  ...             0           0           1
39811    1470    1728    31  ...             0           0           1
39812     146     178    31  ...             0           0           1
39813     890    8896    31  ...             0           0           0

Name  ct_srv_dst  ct_dst_ltm  ct_src_ltm  ct_src_dport_ltm  ct_dst_sport_ltm  \
0              1           1           1                 1                 1
1              1           1           1                 1                 1
2              1           1           1                 1                 1
3              1           1           1                 1                 1
4              1           1           1                 1                 1
...          ...         ...         ...               ...               ...
39809          1           1           1                 1                 1
39810          1           1           1                 1                 1
39811          1           1           1                 1                 1
39812          1           1           1                 1                 1
39813          0           0           0                 0                 0

Name   ct_dst_src_ltm  attack_cat
0                   1    exploits
1                   1      normal
2                   1      normal
3                   1      normal
4                   1    exploits
...               ...         ...
39809               1      normal
39810               1      normal
39811               1      normal
39812               1      normal
39813               0      normal

[39814 rows x 48 columns]>

In [44]:
dataset['label'] = y_pred

In [85]:
dataset.to_csv('./datasetcompleto.csv', index=False)